@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Info Page";
}
<head>
@*<link rel="stylesheet" href="~/css/table.css" />*@
</head>
@*@model List<SimpleCrud.Models.Student>*@
@*@model SimpleCrud.ViewModel.AddViewModel*@
<style>

</style>

<body>
<h3>My Students</h3>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

 <table id="myTable">
    <tr class="header">
            <th>Name</th>
            <th>Email</th>
            <th>Phone no:</th>
            <th>Address</th>
            <th>Dob</th>
            <th>Gender</th>
            <th>Faculty</th>
            <th>Semester</th>
            <th>Enrollment Date</th>
            <th>Reg no</th>
            <th>Image</th>
            <th>Action</th>
  </tr>
  @foreach (var item in Model)
  {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
            <td>@item.Dob.ToString("dd-mm-yyyy")</td>
            <td>@item.Gender</td>
            <td>@item.Faculty</td>
            <td>@item.Semester Semester</td>
            <td>@item.Eroll.ToString("dd-mm-yyyy")</td>
            <td>@item.Reg</td>
            <td><img src="/Images/@item.Image" style="width:40px; height:40px" /></td>
                <td>
                    <a href="View/@item.Id">View</a>
                    <a href="Delete/@item.Id?img=@item.Image">Delete</a>
            </td>
        </tr>
    }
  
 
</table>

<script>

</script>
</body>